.agenda-container {
    width: 100%;
    height: 100vh;
    padding: 30px;
    box-sizing: border-box;
    background: linear-gradient(to top, #b3e5ef, #ecf4fc, #f7f7f8);
    overflow-y: auto;
}

.titulo-agenda {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
}

.select-container {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.select-container select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #999;
    font-size: 16px;
}

.lista-agenda {
    margin-top: 20px;
}

.card-agenda {
    background: white;
    padding: 16px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.card-agenda p {
    margin: 5px 0;
}

.status {
    margin-top: 10px;
    padding: 6px;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
}

.status.disponivel {
    background: #d4f8d4;
    color: #1c6e1c;
    border: 1px solid #8fd48f;
}

.status.ocupado {
    background: #ffd6d6;
    color: #a30000;
    border: 1px solid #e39a9a;
}

.nenhuma-agenda {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
}
