/* Resetando alguns estilos padrões */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Estilizando o Navbar */
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  background-color: #f8f9fa;
  font-weight: 600;
  font-size: 20px;
}

.logo-navbar {
  font-weight: bold;
  font-size: 25px;
}

.navbar-links {
  display: flex; 
  gap: 20px; 
  margin: 0px;
  padding: 50px;
  list-style: none;
  align-items: center;
}

.navbar-links li {
  display: inline-block;
}

.navbar-links a {
  padding: 6px 10px;
  border-radius: 6px;
}

.navbar-links a:hover {
  background-color: #ddd;
  text-decoration: none;
}