:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background: linear-gradient(to top, #b3e5ef, #ecf4fc, #f7f7f8);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
